body.examResult {
  position: absolute;
  left: 210px;
  font-family: "Century Gothic";
  font-size: 18px;
}

div.text {
  width: 80vw;
  padding-left: 0%;
  text-align: left;
}

table {
  width: 80vw;
  margin-left: 10px;
  margin-top: 20px;
  padding: 10px;
  box-shadow: 3px 3px 4px 4px #88888855;
  border-radius: 5px;
  border-color: transparent;
  text-align: center;
}

table th {
  border-color: transparent;
  border-bottom-color: #000000;
}

table tr.exam-selectable:hover {
  color: #009999;
  cursor: pointer;
}

/* style del modal per confermare le scelte*/
div.modal {
  display: none;
  position: fixed;
  z-index: 1; /* il modal appare sopra al contenuto della pagina*/
  left: 0;
  top: 0;
  width: 100%; /* copre tutto il contenuto*/
  height: 100%;
  overflow: auto;
  background-color: #00000055; /* sfondo grigio poco opaco */
}

div.modal-content {
  text-align: center; /* allinea il contenuto al centro*/
  font-family: "Century Goyhic";
  font-size: 18px;
  border-radius: 5px;
  background-color: #fefefe; /* sfondo bianco */
  margin: 15% auto; /* 15% from the top and centered */
  padding: 2%;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-color: transparent;
}

div.modal-content p {
  text-align: center; /* allinea il testo a sinistra*/
}

div.modal button {
  background-color: #009999;
  color: white;
  padding: 5px;
  margin-right: 10px;
  border-color: transparent;
  cursor: pointer; /* cambia il cursore per mostrare interattività*/
  min-width: 100px; /*dimensione minima dei pulsanti*/
  min-height: 30px;
  border-radius: 5px;
}

div.modal button.cancel-button {
  background-color: #e7e7e7; /* il tasto annulla appare di colore diverso rispetto al tasto ok*/
  color: #000000;
}

div.modal button:hover,
div.modal button:focus {
  box-shadow: 2px 2px 3px 3px #88888855; /* aggiungi ombra quando il cursore è sopra al pulsante per comunicare interattività*/
}

body.examResult img.no-result {
  display: block;
  margin: 0px auto;
  text-align: center;
}

@media only screen and (min-width: 800px) {
  /* Per dispositivi con uno schermo largo setta una dimensione massima alla tabella*/
  table {
    width: 100%; /*estendi per tutta la dimensione dello schermo*/
  }
}

.evidenziato {
  color: #009999;
  text-decoration: none;
}