body.ricerca {
  position: absolute; /*Serve perchè se no va sotto la barra di navigazione laterale*/
  left: 210px;
  width: 78%; /* serve a limitare la lunghezza della finestra in modo che non esca fuori dalla schermata*/
  font-size: 18px;
}

div.anno-div,
div.facolta-div {
  display: none;
}

div.anno-div.active,
div.facolta-div.active {
  display: block;
}

.form-ricerca .input,
.form-ricerca button {
  width: auto;
  min-width: 10em;
}

.form-ricerca button {
  border-radius: 5px;
  height: 2em;
  border-color: transparent;
}

.form-ricerca #search-button,
.form-ricerca #clear {
  background-color: #009999;
  color: white;
  cursor: pointer;
  height: 3em;
}
