body.secretariat {
  position: absolute;
  left: 210px;
  font-family: "Century Goyhic";
  font-size: 18px;
}

div.options ul {
  list-style-type: none; /* non far apparire i bullet point vicino agli elementi della lista*/
}
div.options ul > li {
  margin-bottom: 1em; /* più spazio tra un elemento ed un altro*/
}

div.options a {
  color: #009999;
}
