body.secretariat {
  position: absolute;
  left: 210px;
  font-family: "Century Gothic";
  font-size: 18px;
}

div.options {
  padding-left: 5%;
  padding-right: 5%;
}

div.options ul {
  list-style-type: none; /* non far apparire i bullet point vicino agli elementi della lista*/
  border: 2px solid #88888855;
  border-radius: 5px;
  text-align: center;
  padding: unset;
  box-shadow: 3px 3px 4px 4px #88888855; /*ombra*/
}
div.options a {
  color: #009999;
}

div.options li {
  padding-bottom: 1em; /* più spazio tra un elemento ed un altro*/
  padding-top: 1em;
  border-radius: 5px;
}

div.options ul > a:hover {
  color: #fff;
}

div.options ul > a:hover > li {
  background-color: #009999;
}

@media only screen and (min-width: 800px) {
  div.options {
    width: 100%; /*estendi per tutta la dimensione dello schermo*/
  }
}

.evidenziato {
  color: #009999;
  text-decoration: none;
}