* {
  font-family: "Century Gothic";
}
/*queste modifiche saranno applicate solo a ciò che sta in sidenav*/
div.sidenav {
  text-align: left;
  height: 100%;
  width: 200px; /* ho usato un valore assoluto altrimenti si rimpicciolisce al cambiare delle dimensioni della finestra*/
  background-color: #009999;
  box-sizing: border-box;
  position: fixed; /*serve per mantenere la sua posizione fissa sullo schermo*/
  z-index: 1; /*permette alla barra di navigazione di rimanere sopra contenuto e non essere coperta*/
  top: 0; /*top e left servono per evitare che la barra appaia lontano dai bordi*/
  left: 0;
  overflow-x: hidden; /* tutto ciò che esce dalla barra di navigazion è nascosto*/
  padding-top: 20px; /*gli elementi all'interno saranno allontanati di 20 pixel dal lato superiore della barra*/
  border-radius: 0px 8px 8px 0px; /*per avere gli angoli arrotondati*/
}

/*queste modifiche sono applicate solo alle liste puntate all'interno della sidenav*/
div.sidenav > ul {
  font-size: 18px;
  list-style-type: none; /*non appaiono i bullet point della lista*/
  vertical-align: middle; /*allinea verticalmente al centro*/
  padding-left: 0; /*serve per far in modo che il box che contiene l'elemento sia vicino al bordo sinistro: così facendo passandoci il mouse sopra il bacground cambia colore in modo sensato e non da metà barra*/
}

/*queste modifiche interessano solo i link all'interno della lista contenuta nel sidenav*/
div.sidenav > ul a {
  color: white; /*colora il testo di bianco*/
  transition: background-color 0.5s; /*permette di avere una transizione tra hover e non hover del colore del background di 0.5s, ovvero in 0.5s il background passa da 009999 a 4cb1b1 quando si passa il mouse sopra*/
  text-decoration: none; /*serve per evitare che i link siano evidenziati e sottolineati*/
  padding-left: 15%; /*perve per far apparire la lista al centro della sidebar e non attaccata al bordo sinistro*/
}

/*riguarda gli elementi della lista in sidenav*/
div.sidenav li {
  padding-top: 10px; /*serve per far in modo che quando passo il mouse sopra l'elemento non veda il testo attaccato al margine superiore del box che lo contiene*/
  padding-bottom: 5px;
  /*height: 30px;*/
}

/*riguarda gli elementi della lista in sidenav quando ci passi il mouse sopra*/
div.sidenav li:hover {
  background-color: #4cb1b1;
  font-size: 105%; /*permette di ingrandire leggermente il testo così da evidenziare meglio la scelta*/
}

div.sidenav button.logout-button {
  margin: 15%;
  background-color: #fff;
  border-color: transparent;
  border-radius: 25px;
  width: 70%;
  height: 1.5em;
  font-size: 18px;
  color: #009999;
  font-weight: bold;
  box-shadow: 2px 2px #00000055;
}

div.sidenav button.logout-button:hover {
  box-shadow: 3px 3px 4px 4px #00000055;
  cursor: pointer;
}

/*riguarda solo il logo nella sidenav*/
div.logo {
  text-align: center;
  vertical-align: middle;
  font-size: 26px;
  margin-bottom: 10px;
  color: #fff;
}

div.logo > a {
  text-decoration: none;
  color: #fff;
}

div.logo img {
  width: 4em; /*il logo è troppo grande, quindi è rimpicciolito*/
}
